.poster {
    width: 300px;
    height: 500px;
}

.poster img {
    height: 350px;
    width: inherit;
    object-fit: cover;
}

.poster h2 {
    text-align: center;
}

.poster h4 {
    text-align: center;
    color: gray;
}