/* .hello{
    background-color: rgb(161, 115, 115);
 }

 .good {
    background-color: green;
 }
 .bad{
    background-color: red;
 }
 .test1{
    display: flex;
    flex-direction: column;
    color: blue;
    text-align: center;
 }
 .test2{
    display: flex;
    flex-direction: column;
    color:red;
    text-align: center;
 } */